{% extends "base.jinja" %}

{% block content %}
<center>
    <div class="col-md-auto">
        <br>
        <br>
        <img src="{{url_for('static', filename='preview.jpg')}}" align="middle" height="400px" />
        <br>
        <br>
        <h5 style="color: rgb(226, 214, 161)">
            <font style="color: white">Animal Wars</font><em>
                <font style="color: red">2086</font>
            </em>
        </h5>
        <br>
        <font style="color: white">AnimalWars</font>
        <font style="color: red">2086</font>
        <font style="color:rgb(226, 214, 161)"> is a limited series of <em>20</em> collectable NFTs available<br>
            exclusively on <a href="https://opensea.io" target="_blank">OpenSea.io</a> and offered by imagen
            studios.<br>
            <br>
            <strong>Series 1, Year 1:</strong><br>
            Features the first 20 great warriors of the 2086 Animal Wars.<br>
            <br>
            Led by Bad bunny, the super villains enlisted the help of Evil Kitty and her demon cat army in<br>
            an attempt to take over the world!<br>
            Luckily for humankind- Good Boy, the Chihuahua has other plans! Will his unlikely band of heroes<br>
            have what it takes to stop Bad Bunny and Evil Kitty?
        </font>
        <br>

    </div>
    <div class="col col-lg-2">

    </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col-md-auto">

        </div>
        <div class="col col-lg-2">

        </div>
    </div>
    </div>
</center>
{% endblock %}