{% extends "base.jinja" %}

{% block content %}

<center>
    <br>
    <img src="{{url_for('static', filename='bob.jpg')}}" align="middle" height="400px" />
    <br>
    <br>
    <h5 style="color: white)">Contact Us!</h5>
    <br>
    <font style="color: rgb(226, 214, 161)">



        <form action="{{ url_for('auth.get_contact') }}" method=post>
            <div>

                <p>
                    {{ form.name.label }} <br>
                    {{ form.name(placeholder='Your name') }}<br>
                    {{ form.email.label }} <br>
                    {{ form.email(placeholder='Your e-mail ...') }}<br>
                    {{ form.subject.label }}<br>
                    {{form.subject(placeholder='Your subject ...')}}<br>
                    {{ form.message.label }}<br>
                    {{ form.message(placeholder='Message ...') }}<br>
                    <br>
                    {{ form.submit }}
                </p>
            </div>
        </form>



    </font>
</center>

</body>








{% endblock %}