{% extends "base.jinja" %}

{% block content %}

<center>
    <div class="col-md-auto">
        <br>
        <br>
        <img src="{{url_for('static', filename='splashscreen.jpg')}}" align="middle" width="600px" />
        <br>
        <br>
        <h5 style="color: rgb(226, 214, 161)">Welcome {% if current_user.is_authenticated %}back {% endif %}to
            <font style="color: white">Animal Wars</font><em>
                <font style="color: red">2086</font>
                {% if current_user.is_authenticated %}, {{ current_user.username
                }}!
                {% endif %}
            </em>!
        </h5>
        <br>
        <font style="color:rgb(226, 214, 161)">Collect all <em>20</em> in Series 1, Year 1</font>
        <br>

    </div>
    <div class="col col-lg-2">

    </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col-md-auto">

        </div>
        <div class="col col-lg-2">

        </div>
    </div>
    </div>
</center>

{% endblock %}