{% extends "base.jinja" %}

{% block content %}

<body background-color="black">
    <div class="container text-center">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">

            </div>
            <div class="col-md-auto">
                <br>
                <img src="{{url_for('static', filename='badbunny001.jpeg')}}" align="middle" width="300px" />
                <br>
                <br>
                <h5 style="color: rgb(226, 214, 161)">Sign In to your <font style="color: white">Animal Wars</font><em>
                        <font style="color: red">2086</font>
                    </em> Account:</h5>
                <br>
                <br>
                <form>
                    <div class="mb-3" width=300px>
                        <label for="exampleInputEmail1" class="form-label">
                            <font style="color: rgb(226, 214, 161)">Email address</font>
                        </label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">
                            <font style="color: rgb(226, 214, 161)">Password</font>
                        </label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check" align="center">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">
                            <font style="color: rgb(226, 214, 161)">Remember Me</font>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col col-lg-2">

            </div>
        </div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col-md-auto">

            </div>
            <div class="col col-lg-2">

            </div>
        </div>
    </div>

</body>




{% endblock %}