{% extends "base.jinja" %}

{% block content %}

<center>
    <br>
    <img src="{{url_for('static', filename='badbunny001.jpeg')}}" align="middle" width="300px" />
    <br>
    <br>
    <h5 style="color: rgb(226, 214, 161)">Sign In to your <font style="color: white">Animal Wars</font><em>
            <font style="color: red">2086</font>
        </em> Account:</h5>
    <br>
    <br>
    <font style="color: rgb(226, 214, 161)">
        <form action="" method="post">
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
                <span class="err-msg"> {{ error }} </span>
                {% endfor %}
            </p>
    </font>
    <p>
        {{ form.submit() }}

    </p>
    </form>

</center>




{% endblock %}